{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spelling Bee</title>
    <link rel="stylesheet" href = "{% static 'css/style.css' %}">
</head>
<body>
<ul class="topNavBar">
    {% if user.is_authenticated %}
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
    <li><a href = "{% url 'login' %}">Login</a></li>
    <li><a href = "{% url 'register' %}">Register</a></li>
    {% endif %}
    <li><a href = "{% url 'index' %}">Home</a></li>
</ul>
{%block content%}
{%endblock%}
</body>
</html>