{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
    <body>
    {% block content %}
    <div class="accDiv">
    <h1>Login</h1>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
  <input type="text" placeholder="Username" name="username"><br>
  <input type="password" placeholder="Password" name="password"><br><br>
  <input type="submit" value="Login">
        <a href = "{% url 'forgot_password' %}">
            Forgot Password?
        </a>
        <p style="text-align: center;">
            or
        </p>
        <a href = "{% provider_login_url 'google' %}">
            <input type="button"  value="Continue with Gmail">
        </a>
</form>
        {% if message %}
            {{message}}
        {% endif %}
</div>
    {%endblock%}
    </body>
