{% extends 'base.html' %}
{% load static %}

<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
    <body>
    {% block content %}
    <div class="accDiv">
    <h1>Login</h1>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
  <input type="text" placeholder="Username" name="username"><br>
  <input type="password" placeholder="Password" name="password"><br><br>
  <input type="submit" value="Login">
        <p style="text-align: center;">
            or
        </p>
        <input type="button" value="Login using Gmail">
</form>
        {% if message %}
            {{message}}
        {% endif %}
</div>
    {%endblock%}
    </body>
